In [1]:
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')
db = client.companies

In [5]:
df_schools=db.compSchools.find()

In [6]:
import pandas as pd
df_schools=pd.DataFrame(df_schools)

In [9]:
df_schools.shape

(27, 5)

In [16]:
def findInArea(geopoint,radio_max=2200000):
    return db.compSchools.find({
        "Offices":{
            "$near": {
                "$geometry": geopoint,
                "$maxDistance":radio_max,
            }
        }
    })
geopoint={
    "type":"Point",
    "coordinates": [-73.968285,40.785091]
}
df_schools=findInArea(geopoint)
df_schools=pd.DataFrame(df_schools)
df_schools.shape

(15, 5)

In [17]:
def findInArea1M(geopoint,radio_max=2200000):
    return db.comp1M.find({
        "Offices":{
            "$near": {
                "$geometry": geopoint,
                "$maxDistance":radio_max,
            }
        }
    })
df_1M=pd.DataFrame(findInArea1M(geopoint))
df_1M.shape

(1162, 5)

In [18]:
def findInArea10Y(geopoint,radio_max=2200000):
    return db.comp10Y.find({
        "Offices":{
            "$near": {
                "$geometry": geopoint,
                "$maxDistance":radio_max,
            }
        }
    })
df_10Y=pd.DataFrame(findInArea10Y(geopoint))
df_10Y.shape

(3125, 5)

In [19]:
def findInAreaDesign(geopoint,radio_max=2200000):
    return db.compDesign.find({
        "Offices":{
            "$near": {
                "$geometry": geopoint,
                "$maxDistance":radio_max,
            }
        }
    })
df_design=pd.DataFrame(findInAreaDesign(geopoint))
df_design.shape

(3, 5)

In [23]:
def findInAreaAerop(geopoint,radio_max=2200000):
    return db.aeropuertos.find({
        "Localizacion":{
            "$near": {
                "$geometry": geopoint,
                "$maxDistance":radio_max,
            }
        }
    })
df_aer=pd.DataFrame(findInAreaAerop(geopoint))
df_aer.shape

(1117, 6)

In [28]:
empresasMas10=list(df_10Y["Name"].values)
latMas10=list(df_10Y["Longitude"].values)
lonMas10=list(df_10Y["Latitude"].values)

In [35]:
import math

def haversine(lat1, lon1, lat2, lon2):
    rad=math.pi/180
    dlat=lat2-lat1
    dlon=lon2-lon1
    R=6372.795477598
    a=(math.sin(rad*dlat/2))**2 + math.cos(rad*lat1)*math.cos(rad*lat2)*(math.sin(rad*dlon/2))**2
    distancia=2*R*math.asin(math.sqrt(a))
    return distancia

def calcularDistancias(x): 
    empresa=[]
    for i in range(len(empresasMas10)):
        dist=haversine(x["Longitude"],x["Latitude"],latMas10[i],lonMas10[i])
        if dist<2: #No queremos la empresa
            empresa.append(empresasMas10[i])
            
    return {
        "Empresa": x["Name"],
        "EmpresasMenosDistancia": empresa,
        "Cantidad": len(empresa)
    }

df_desCerca = df_design.apply(calcularDistancias,result_type="expand",axis=1)
df_desCerca[df_desCerca["Cantidad"] == df_desCerca["Cantidad"].min()]

   Cantidad     Empresa                             EmpresasMenosDistancia
1         7  Refinery29  [Dadaphile, Frogmetrics, Refinery29, GEN247, V...

In [36]:
df_1MCerca=df_1M.apply(calcularDistancias,result_type="expand",axis=1)
print(df_1MCerca.shape)
df_1M.shape

(1162, 3)

(1162, 5)

In [38]:
df_1MCerca=df_1MCerca[df_1MCerca["Cantidad"] == df_1MCerca["Cantidad"].min()]
df_1MCerca.shape

(54, 3)

In [40]:
def calcularDistanciasAe(x): 
    empresa=[]
    for i in range(len(empresasMas10)):
        dist=haversine(x["Latitude"],x["Longitude"],latMas10[i],lonMas10[i])
        if dist<2: #No queremos la empresa
            empresa.append(empresasMas10[i])
            
    return {
        "Empresa": x["Name"],
        "EmpresasMenosDistancia": empresa,
        "Cantidad": len(empresa)
    }
df_aeCerca=df_aer.apply(calcularDistanciasAe,result_type="expand",axis=1)

In [41]:
print(df_aeCerca["Cantidad"].min())
df_aeCerca=df_aeCerca[df_aeCerca["Cantidad"] == df_aeCerca["Cantidad"].min()]
df_aeCerca.shape

0

(1087, 3)

In [42]:
df_sCerca=df_schools.apply(calcularDistancias,result_type="expand",axis=1)

In [44]:
print(df_sCerca["Cantidad"].min())
df_sCerca=df_sCerca[df_sCerca["Cantidad"] == df_sCerca["Cantidad"].min()]
df_sCerca.head()

1

    Cantidad  Empresa EmpresasMenosDistancia
2          1    ePrep                [ePrep]
7          1   Tizmos               [Tizmos]
8          1  Skoodat              [Skoodat]
13         1   Edmodo               [Edmodo]

In [60]:
def empresasConMenosDist(x):
    name=None
    if x["Name"] in list(df_sCerca["Empresa"].values):
        name=x["Name"]
        off=x["Offices"]
        lat=x["Latitude"]
        lon=x["Longitude"]
    else:
        name=None
        off=None
        lat=None
        lon=None
    return {
        "Name": name,
        "Offices": off,
        "Latitude":lat,
        "Longitude":lon
    }
        
df_sImp = df_schools.apply(empresasConMenosDist,result_type="expand",axis=1)
df_sImp = df_sImp.dropna(axis=0)

,Latitude,Longitude,Name,Offices
2,-74.649912,40.396817,ePrep,"{'type': 'Point', 'coordinates': [-74.649912, ..."
7,-86.877244,40.440278,Tizmos,"{'type': 'Point', 'coordinates': [-86.877244, ..."
8,-85.350930,34.970710,Skoodat,"{'type': 'Point', 'coordinates': [-85.3509296,..."
13,-88.321171,41.857915,Edmodo,"{'type': 'Point', 'coordinates': [-88.321171, ..."

In [62]:
def empresasConMenosDistAe(x):
    name=None
    if x["Name"] in list(df_aeCerca["Empresa"].values):
        name=x["Name"]
        off=x["Localizacion"]
        lat=x["Latitude"]
        lon=x["Longitude"]
    else:
        name=None
        off=None
        lat=None
        lon=None
    return {
        "Name": name,
        "Offices": off,
        "Latitude":lat,
        "Longitude":lon
    }
        
df_aeImp = df_aer.apply(empresasConMenosDistAe,result_type="expand",axis=1)
df_aeImp = df_aeImp.dropna(axis=0)

In [63]:
df_aeImp.shape

(1087, 4)

In [64]:
def empresasConMenosDist1M(x):
    name=None
    if x["Name"] in list(df_1MCerca["Empresa"].values):
        name=x["Name"]
        off=x["Offices"]
        lat=x["Latitude"]
        lon=x["Longitude"]
    else:
        name=None
        off=None
        lat=None
        lon=None
    return {
        "Name": name,
        "Offices": off,
        "Latitude":lat,
        "Longitude":lon
    }
        
df_1MImp = df_des.apply(empresasConMenosDist1M,result_type="expand",axis=1)
df_1MImp = df_1MImp.dropna(axis=0)

df_1MImp.shape

(54, 4)

In [68]:
def empresasConMenosDistDes(x):
    name=None
    if x["Name"] in list(df_desCerca["Empresa"].values):
        name=x["Name"]
        off=x["Offices"]
        lat=x["Latitude"]
        lon=x["Longitude"]
    else:
        name=None
        off=None
        lat=None
        lon=None
    return {
        "Name": name,
        "Offices": off,
        "Latitude":lat,
        "Longitude":lon
    }
df_desCerca=df_desCerca[df_desCerca["Cantidad"] == df_desCerca["Cantidad"].min()]
df_desImp=df_design.apply(empresasConMenosDistDes,result_type="expand",axis=1)
df_desImp=df_desImp.dropna(axis=0)
df_desImp

,Latitude,Longitude,Name,Offices
1,-73.950821,40.727719,Refinery29,"{'type': 'Point', 'coordinates': [-73.9508211,..."

In [69]:
def concatenar(x):
    categoria=None
    if x["Name"] in list(df_desCerca["Empresa"].values):
        categoria="Empresa diseño"
        lat=x["Longitude"]
        lon=x["Latitude"]
        loc=x["Offices"]
    elif x["Name"] in list(df_1MCerca["Empresa"].values):
        categoria="1M"
        lat=x["Longitude"]
        lon=x["Latitude"]
        loc=x["Offices"]
    elif x["Name"] in list(df_sCerca["Empresa"].values):
        categoria="Colegio"
        lat=x["Longitude"]
        lon=x["Latitude"]
        loc=x["Offices"]
    elif x["Name"] in list(df_aeCerca["Empresa"].values):
        categoria="Aeropuerto"
        lat=x["Latitude"]
        lon=x["Longitude"]
        loc=x["Offices"]
    
    return {
        "Name": x["Name"],
        "Categoria": categoria,
        "Latitude": lat,
        "Longitude":lon,
        "Localizacion":loc
        
    }
df_aeImp=df_aeImp.rename({"Localizacion":"Offices"})

In [72]:
df_Imp=pd.concat([df_aeImp,df_desImp,df_1MImp,df_sImp],axis=0)
df_Imp.shape

(1146, 4)

In [73]:
df_final=df_Imp.apply(concatenar,result_type="expand",axis=1)
df_final.shape

(1146, 5)

In [74]:
df_final.head()

,Categoria,Latitude,Localizacion,Longitude,Name
4,Aeropuerto,40.850101,"{'type': 'Point', 'coordinates': [-74.06079864...",-74.060799,Teterboro Airport
5,Aeropuerto,40.692501,"{'type': 'Point', 'coordinates': [-74.16870117...",-74.168701,Newark Liberty International Airport
6,Aeropuerto,40.639801,"{'type': 'Point', 'coordinates': [-73.77890015...",-73.778900,John F Kennedy International Airport
7,Aeropuerto,40.875198,"{'type': 'Point', 'coordinates': [-74.28140258...",-74.281403,Essex County Airport
8,Aeropuerto,40.617401,"{'type': 'Point', 'coordinates': [-74.24459838...",-74.244598,Linden Airport

In [75]:
df_final.to_json("Mezcla.json",default_handler=str,orient="records")

In [77]:
import geocoder
loc=geocoder.google("Starbucks, New Jersey")
loc

<[REQUEST_DENIED] Google - Geocode [empty]>

In [81]:
import os
from dotenv import load_dotenv
import requests
load_dotenv()
BASE_URL="https://maps.googleapis.com/maps/api/place/textsearch/json?"
parameters="input=starbucks+new+jersey"
parameters2="&inputtype=textquery"
key="&key="+ os.environ["KEY"]

res=requests.get(BASE_URL+parameters+parameters2+key)
res=res.json()
#res

{'html_attributions': [],
 'next_page_token': 'CpQCAwEAAEg0HBzc2wczGSYkjtqYc4d6-Slleytg3m3BQhsASlYuwDeHSFep7LAkbDcxuh4O3Psp5jwMTIa0xl-ZpOmLp1_QZc-G3paXotcRxkJsTIOWGiew2caKJXEttC0GjCHsFliJQKRtFeU9ONFw1stXvICi3s5h-g7aqpv_jvaI3aZnS8P-oDteRDTnQAtCpAupii1tKHGU7FZjwoaMmDSSisXDHQZcTbbKP-JBonpuvdifsXutG-Dag5fLI5Ag1t4ZYMoUrdDH6UlmQ-ZE610mfEkWJDnC_vyKOnQm7sHqEepjNvERqsA5_TRDkyGkq7mVsfUcI0XDTJlVTSMIMsGPOWTbG4e9Dc83ZMeu8GT_F7vgEhBhdUo8Xj6aSISLB0jhu8wuGhSAsp0FcMGl8gq6yBc2PNsGIoMG_Q',
 'results': [{'formatted_address': '1865 NJ-70, Lakewood, NJ 08701, USA',
   'geometry': {'location': {'lat': 40.055727, 'lng': -74.16485},
    'viewport': {'northeast': {'lat': 40.05706572989272,
      'lng': -74.16357772010727},
     'southwest': {'lat': 40.05436607010728, 'lng': -74.16627737989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '981fd65bcdc7fabd3aaef1f560e2ff0b63a27089',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102610971660248925652/photos">Joey zambuto</a>'],
     'photo_reference': 'CmRaAAAAnIraEKnk61HIK6aM01cqbwbz_F767Qv_lD_UzmpT4NiMlvENXz69lfp79fa0QwBXZlwEMjAkwOKcb2cLjgTSEvXpphRH88pvxIuSSAODZaWPutj7psRqLCfvRsSMIGmKEhCjwBBq7ACmy5NixMSjWoImGhS_mcWz54_g6PPEObGFIx3naWthSA',
     'width': 3024}],
   'place_id': 'ChIJh6oksASDwYkRFqvprEflqj0',
   'plus_code': {'compound_code': '3R4P+73 Lakewood, Lakewood Township, NJ, USA',
    'global_code': '87G73R4P+73'},
   'price_level': 2,
   'rating': 4.5,
   'reference': 'ChIJh6oksASDwYkRFqvprEflqj0',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 262},
  {'formatted_address': '600 NJ-38, Cherry Hill, NJ 08002, USA',
   'geometry': {'location': {'lat': 39.936742, 'lng': -75.045005},
    'viewport': {'northeast': {'lat': 39.93803227989272,
      'lng': -75.04364917010727},
     'southwest': {'lat': 39.93533262010728, 'lng': -75.04634882989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': 'a8c11eecd3efa3db259dccb292d34231bbb6b8d9',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 664,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105414558691046162451/photos">Starbucks</a>'],
     'photo_reference': 'CmRYAAAA60_UnrBfPEpQo2477BrWyLrf_F_VEsyC4dpcDHNFcyd07wXGOVqvoIODQdj0O7dhUSAeNCgyJ9puyKoIIqb1-WOP5Q0W_sJip5RXSC6hKaPc20zwnvdYgNXE2c8GLrThEhAMAXxhfZYH52x0nbUySpJDGhQv1wo5zIKFv3j_mgpVwW8wvh_UAQ',
     'width': 732}],
   'place_id': 'ChIJF3gI3s7LxokRpwKyXQ5iMXQ',
   'plus_code': {'compound_code': 'WXP3+MX Cherry Hill, New Jersey, USA',
    'global_code': '87F6WXP3+MX'},
   'price_level': 2,
   'rating': 4.3,
   'reference': 'ChIJF3gI3s7LxokRpwKyXQ5iMXQ',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 244},
  {'formatted_address': '2100 NJ-35, Oakhurst, NJ 07755, USA',
   'geometry': {'location': {'lat': 40.264683, 'lng': -74.042442},
    'viewport': {'northeast': {'lat': 40.26595512989272,
      'lng': -74.04118207010728},
     'southwest': {'lat': 40.26325547010728, 'lng': -74.04388172989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': 'ee714e93d2bb3c1cb95181279d200ea2819f4790',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100600996398797005267/photos">حسن ميلفي</a>'],
     'photo_reference': 'CmRaAAAAKybmUHeKVIfuvYLK53yNCfBwFFe8Evllyq47kZuD3TM9Lcr-oq82FjBzKUgb0WPzindzd-PzT8DvlE2YPMehS3p3ZhButT9PL3vlrKT6P357QjlgjYb2-uxeLdoMzhEqEhAJ1VYTyb7We_9Z8x4tTpBjGhS-xtHgeiFxehZn3SeNgKLJ-r2WdQ',
     'width': 1960}],
   'place_id': 'ChIJK07Hj2gvwokRAxRU5dZuhFQ',
   'plus_code': {'compound_code': '7X75+V2 Oakhurst, Ocean Township, NJ, USA',
    'global_code': '87G77X75+V2'},
   'price_level': 2,
   'rating': 4.3,
   'reference': 'ChIJK07Hj2gvwokRAxRU5dZuhFQ',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 229},
  {'formatted_address': '2325 NJ-33, Robbinsville Twp, NJ 08691, USA',
   'geometry': {'location': {'lat': 40.219624, 'lng': -74.632385},
    'viewport': {'northeast': {'lat': 40.22104917989272,
      'lng': -74.63099187010728},
     'southwest': {'lat': 40.21834952010727, 'lng': -74.63369152989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '78d57c2a2c258f6acbb892c6e25eabbfb2d8d714',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104709047466213453312/photos">Sharad Patel</a>'],
     'photo_reference': 'CmRaAAAAPAKB1MuMK-atrM_x632XXyx8bq_4soLCFGcN9BfUzWat0b-2lPvIbITRJN07bO69wtHKrdmZt241eWikwaO0lfqMY4fPNlzE_e_-OvrG44AFwFfV0Y1DGNWPPPUs0maLEhCtPTIUNUVLviNm8yVLHxyKGhQc19aC6DOu9FPoiAGmvqSIk6rfEg',
     'width': 4032}],
   'place_id': 'ChIJV8ZeY69fwYkRwC5CaS59TD4',
   'plus_code': {'compound_code': '6999+R2 Robbinsville Twp, New Jersey, USA',
    'global_code': '87G76999+R2'},
   'price_level': 2,
   'rating': 4.2,
   'reference': 'ChIJV8ZeY69fwYkRwC5CaS59TD4',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 226},
  {'formatted_address': '300 NJ-18, East Brunswick, NJ 08816, USA',
   'geometry': {'location': {'lat': 40.456454, 'lng': -74.400224},
    'viewport': {'northeast': {'lat': 40.45784782989273,
      'lng': -74.39889947010728},
     'southwest': {'lat': 40.45514817010728, 'lng': -74.40159912989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': 'e3166e92b3289c67beaab33ada09f07c0479209f',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2560,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114924459626932243485/photos">Celene Vicente</a>'],
     'photo_reference': 'CmRaAAAAwmCKtYiJpIobWmBjHxBRDxySqyDp-LAzU45jAcZ7eF4gii8YmiYDtRY_RlmJDu-jaU_4WP9JB0JGINRIgsPMunKDoKZXauIfVEfSDUmXGiJvn2yar_87ZEE4A0HCqLHrEhCHEB_wrYCcIasVLRZm6VeyGhTjk0_Y9cVaXb1gNZeE29HZ17RQLg',
     'width': 1440}],
   'place_id': 'ChIJqUB0rFTPw4kRL641B0lVreI',
   'plus_code': {'compound_code': 'FH4X+HW East Brunswick, New Jersey, USA',
    'global_code': '87G7FH4X+HW'},
   'price_level': 2,
   'rating': 4.1,
   'reference': 'ChIJqUB0rFTPw4kRL641B0lVreI',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 561},
  {'formatted_address': '551 NJ-35, Shrewsbury, NJ 07702, USA',
   'geometry': {'location': {'lat': 40.333133, 'lng': -74.061643},
    'viewport': {'northeast': {'lat': 40.33443732989273,
      'lng': -74.06032642010727},
     'southwest': {'lat': 40.33173767010728, 'lng': -74.06302607989271}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '9ea6c49a7218757879a2a56a4c27e8ecd9023bc9',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2448,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104992171932619886360/photos">Gregory Orr</a>'],
     'photo_reference': 'CmRaAAAAzhtCiCShGYzvLkvm8m_Fxz4HPHbuPodQWvgz_XwlaFommsueVV6xC6TRPveMazuUBSBAZ_rFsCFmKqSPNP99F-C92xcvpZjGp6-6LgoRkwnAOAw_e7GBpOGIPEReZx9HEhDYQmniMLgJW_JL7ZaqIcliGhQhFYOVco8cs8E5_oF5kxE8mpD_FA',
     'width': 3264}],
   'place_id': 'ChIJ9VzD7iYwwokRJRvM9SDQCAA',
   'plus_code': {'compound_code': '8WMQ+78 Shrewsbury, New Jersey, USA',
    'global_code': '87G78WMQ+78'},
   'price_level': 2,
   'rating': 4.1,
   'reference': 'ChIJ9VzD7iYwwokRJRvM9SDQCAA',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 114},
  {'formatted_address': '2011 NJ-35, Middletown, NJ 07748, USA',
   'geometry': {'location': {'lat': 40.410739, 'lng': -74.13337899999999},
    'viewport': {'northeast': {'lat': 40.41197342989273,
      'lng': -74.13213137010727},
     'southwest': {'lat': 40.40927377010728, 'lng': -74.13483102989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '0610171899564987129b331fb88e3a2f25a4d372',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102796416731743221298/photos">Jaye Aster Broder</a>'],
     'photo_reference': 'CmRaAAAAbv5STzpR7P3Nxl3P7wqJOPxr19rxCfDRUhjcwKA399aWbH9XeqJmKj3dQ0h8SQc1VYb48o2Blc_7dYibqV7PwQHMdWwVy6FybBBcS0c_bj30fwYvCijIL4hxl5TRB7KsEhCd8GDmz8JZzeAIXCPJ0H9VGhR6t-9iXRXOTAxbMRG6cfEI9X-i3w',
     'width': 4032}],
   'place_id': 'ChIJ5XSA_-0zwokRq9XzT7mFDu0',
   'plus_code': {'compound_code': 'CV68+7J Middletown, New Jersey, USA',
    'global_code': '87G7CV68+7J'},
   'price_level': 2,
   'rating': 4.2,
   'reference': 'ChIJ5XSA_-0zwokRq9XzT7mFDu0',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 236},
  {'formatted_address': '201-211 NJ-17, Hasbrouck Heights, NJ 07604, USA',
   'geometry': {'location': {'lat': 40.8567122, 'lng': -74.07033969999999},
    'viewport': {'northeast': {'lat': 40.85799762989272,
      'lng': -74.06884797010727},
     'southwest': {'lat': 40.85529797010727, 'lng': -74.07154762989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': 'ce24c6345c2740ce72490a2845c816ec3d1dc994',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1792,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110683505283271765533/photos">David Yun</a>'],
     'photo_reference': 'CmRaAAAAHeAnTzOG0bDwoh6qpRZO4CefMm9-hMfxLyhk3x0QrG7L3cXofTKElwAOsMWYdOfEZbZOz0u1g9SGXj32INzx7EruFxh_9rWYN825aQ-LOQIYaUyr2zfF23rckBIs6do5EhDcNXOmjLlRXEwqq0NDU59qGhShxAMIKg2Unx8mvVqHThCFeUVKlA',
     'width': 1512}],
   'place_id': 'ChIJR8Xa8KX5wokRvlh-uqdZT-w',
   'plus_code': {'compound_code': 'VW4H+MV Hasbrouck Heights, New Jersey, USA',
    'global_code': '87G7VW4H+MV'},
   'price_level': 2,
   'rating': 4.3,
   'reference': 'ChIJR8Xa8KX5wokRvlh-uqdZT-w',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 488},
  {'formatted_address': '57 NJ-23, Wayne, NJ 07470, USA',
   'geometry': {'location': {'lat': 40.88995999999999, 'lng': -74.249538},
    'viewport': {'northeast': {'lat': 40.89126907989272,
      'lng': -74.24823897010728},
     'southwest': {'lat': 40.88856942010728, 'lng': -74.25093862989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '22139798657eb97854157ee5bc3cbe27fe499075',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106876676152399308606/photos">Bartek Tomaszkowicz</a>'],
     'photo_reference': 'CmRaAAAA7Oz2Kyp6j2myabcxD3ohVbQOh51cs4Li6NSaPPEvvGqQYXlnFMqowQZ8ZbGzXt3YYk7jvAf9BAQlkrjux907pABl1j4-8-Iz32bJ1s_cjRugh1Y3YelxRPpG596U4jErEhA9ZMST63mCIJ1_XuQqflI1GhSdOg_N8KuviMprLZT7bauRUo4E8g',
     'width': 3024}],
   'place_id': 'ChIJhccqlr0Bw4kRlxflWsTs1ck',
   'plus_code': {'compound_code': 'VQQ2+X5 Wayne, New Jersey, USA',
    'global_code': '87G7VQQ2+X5'},
   'price_level': 2,
   'rating': 3.7,
   'reference': 'ChIJhccqlr0Bw4kRlxflWsTs1ck',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 351},
  {'formatted_address': '2150 Highway 35 #E-18, Sea Girt, NJ 08750, United States',
   'geometry': {'location': {'lat': 40.138842, 'lng': -74.06133899999999},
    'viewport': {'northeast': {'lat': 40.14021337989271,
      'lng': -74.06004012010726},
     'southwest': {'lat': 40.13751372010727, 'lng': -74.06273977989271}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '74fba64ac03860ddc7676b0381c71c1b41ad3026',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 5312,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112451180069256162409/photos">Skilld Will</a>'],
     'photo_reference': 'CmRaAAAA8Bd845wIPLDn6aYyZPLG3Ymp0Yzo1rd08areylRqLPoZ-dt3a1zxLAdo1I0B4Y3mYDHooBcLGLAAscef6x3pCCUan-BJW6b2gbH4dv119uoJpEcIERDlqp1ag5Kq5tsNEhCodixUIjQYw61YOnUHczZiGhRD3xfkAeIPdHItEHKK1pKt4mQLWw',
     'width': 2988}],
   'place_id': 'ChIJvVq07rCHwYkReG1FBxxYbwQ',
   'plus_code': {'compound_code': '4WQQ+GF Sea Girt, New Jersey, USA',
    'global_code': '87G74WQQ+GF'},
   'price_level': 2,
   'rating': 4.3,
   'reference': 'ChIJvVq07rCHwYkReG1FBxxYbwQ',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 107},
  {'formatted_address': '178 NJ-35, Eatontown, NJ 07724, USA',
   'geometry': {'location': {'lat': 40.291597, 'lng': -74.05313699999999},
    'viewport': {'northeast': {'lat': 40.29293312989272,
      'lng': -74.05173892010727},
     'southwest': {'lat': 40.29023347010727, 'lng': -74.05443857989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '7efcbcadf6a75a62e070011a61034cff5e3f343d',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 5312,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105047269837540575286/photos">Rich S</a>'],
     'photo_reference': 'CmRaAAAAE1HVsHAs0KqdxvWE5WsKPVNc7vYhA-kXSJ4lP1In5tv8j84b3Fza0o5vpWBXbL8vJpJ4QkrbOloUh8Q5QscTNW9bYsrlxOwmZ2l0-A2D1xpTnAsOHQare_Wh5PIXOtHeEhArIGPPAmiojlnD04JZMq7uGhSWNA-nRReZv-bwJVVD98w6P8RGrQ',
     'width': 2988}],
   'place_id': 'ChIJZfzje58vwokRWYhPNmx4PtQ',
   'plus_code': {'compound_code': '7WRW+JP Eatontown, New Jersey, USA',
    'global_code': '87G77WRW+JP'},
   'price_level': 2,
   'rating': 4.2,
   'reference': 'ChIJZfzje58vwokRWYhPNmx4PtQ',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 242},
  {'formatted_address': '2007 NJ-35, Wall Township, NJ 07719, USA',
   'geometry': {'location': {'lat': 40.152527, 'lng': -74.057144},
    'viewport': {'northeast': {'lat': 40.15382007989272,
      'lng': -74.05597987010728},
     'southwest': {'lat': 40.15112042010728, 'lng': -74.05867952989271}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '0966e284337528a529091a4f69d8ff3536af3aa8',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'place_id': 'ChIJK2sNUpSHwYkRHa1tM1C8lcQ',
   'plus_code': {'compound_code': '5W3V+24 Wall Township, New Jersey, USA',
    'global_code': '87G75W3V+24'},
   'price_level': 2,
   'rating': 3.7,
   'reference': 'ChIJK2sNUpSHwYkRHa1tM1C8lcQ',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 15},
  {'formatted_address': '1919 NJ-35 #101, Wall Township, NJ 07719, USA',
   'geometry': {'location': {'lat': 40.1573571, 'lng': -74.05393149999999},
    'viewport': {'northeast': {'lat': 40.15864662989272,
      'lng': -74.05236207010728},
     'southwest': {'lat': 40.15594697010728, 'lng': -74.05506172989271}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '367892a4e70c4594f2b08abbf4987c68fb269bfe',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4048,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113319921506272224320/photos">Tabata Pearce</a>'],
     'photo_reference': 'CmRaAAAAJ7QdkJej5zkeQb--8Dz6TrY1YI8WFlQGPz4lK39Sg4zNLeKYDHJVQy3qQfvfJwsJaA3T8qqfi_utTX5PursaFAv0yu9ZNhvTo2TglSnCT8UkYmWLwbxDM2LhfGdpyl0-EhCUAPoJOSU6e3bCrDdvY5uAGhRFWcU6iV46auSJvnUtWqRuhWDOgQ',
     'width': 3036}],
   'place_id': 'ChIJUxrGaeSHwYkRt2POvnYBk3Y',
   'plus_code': {'compound_code': '5W4W+WC Wall Township, New Jersey, USA',
    'global_code': '87G75W4W+WC'},
   'price_level': 2,
   'rating': 4.1,
   'reference': 'ChIJUxrGaeSHwYkRt2POvnYBk3Y',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 68},
  {'formatted_address': '65 NJ-4, Paramus, NJ 07652, USA',
   'geometry': {'location': {'lat': 40.920127, 'lng': -74.066574},
    'viewport': {'northeast': {'lat': 40.92144487989272,
      'lng': -74.06513647010728},
     'southwest': {'lat': 40.91874522010728, 'lng': -74.06783612989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '0c7c656db1b3085e8f2a22e83375fb82e0679dd5',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110749256426844362770/photos">Andrea P</a>'],
     'photo_reference': 'CmRaAAAAhjAX1FAaq1yW6Owp_sb4_8NMJtUlm72kkLJZkunJjqtQExGTbgr1iO-d_GvWrXJ8isWJ1vQI4Q-KoREBBnhZ2HOJYOiCJBCI21nRytU8fK_KsaYEFPKrTBX7EPZ3aV7KEhAj_c62cVmfKOJf2LptNpk9GhTHfluJ9h_Nr5cnhaK_Z9SQSixCLA',
     'width': 3024}],
   'place_id': 'ChIJNSHcSFf6wokRSKPGGpeCErM',
   'plus_code': {'compound_code': 'WWCM+39 Paramus, New Jersey, USA',
    'global_code': '87G7WWCM+39'},
   'price_level': 2,
   'rating': 4.2,
   'reference': 'ChIJNSHcSFf6wokRSKPGGpeCErM',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 219},
  {'formatted_address': 'MM-71.7 S, NJ Tpke, East Windsor, NJ 08512, United States',
   'geometry': {'location': {'lat': 40.3215092, 'lng': -74.4882363},
    'viewport': {'northeast': {'lat': 40.32285212989272,
      'lng': -74.48674777010729},
     'southwest': {'lat': 40.32015247010727, 'lng': -74.48944742989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '8878c2449901ea40c02f6ea0b98f866f947a9247',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1080,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109014221263483138368/photos">Conrad Jorge</a>'],
     'photo_reference': 'CmRaAAAAX9kd8vKQsIcGkDuCsLrMF2vIbRK0Ko2LxS8mmW3L_L9M0C_TK6WaEGoGMnnPsvSuQ5y_ja22ccMjkwpIv43a1LYrtvugGqHJwHpn5rTs2HAqJ3mOnqGFeg9Po9g2tWg2EhAVtdevah94Fc5ntJPhw5zhGhSu51AcXOJFJOuFQ4OdTykEKwHK3g',
     'width': 1920}],
   'place_id': 'ChIJeaLR9hzcw4kRUWinlcRT9vQ',
   'plus_code': {'compound_code': '8GC6+JP East Windsor, New Jersey, USA',
    'global_code': '87G78GC6+JP'},
   'price_level': 2,
   'rating': 3.2,
   'reference': 'ChIJeaLR9hzcw4kRUWinlcRT9vQ',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 179},
  {'formatted_address': '370 NJ-17, Paramus, NJ 07652, USA',
   'geometry': {'location': {'lat': 40.946158, 'lng': -74.07136600000001},
    'viewport': {'northeast': {'lat': 40.94749907989272,
      'lng': -74.07011167010728},
     'southwest': {'lat': 40.94479942010727, 'lng': -74.07281132989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '62d5f3b40e7574ef0494e923bdce11d52b389ea5',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 664,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116742699494364068857/photos">Starbucks</a>'],
     'photo_reference': 'CmRaAAAAr16fEbmqYNBssnHqYIMKTwjhnkq_oReoMqMCk2uDrRHZ-3KD3GTAUlW35qvtjXU1e3IVnnQtigtrVSAYJz4SH006-_spA2n4Rh-W-7KxfyuT2Fsnx-oTYaIFuctqvm24EhAD2HyAYIF0IxoYhulFgHwLGhQD7wmAnGuCgwwu1k7hQ8gIER8A-A',
     'width': 732}],
   'place_id': 'ChIJOZ7QC976wokRQH3LYQ7RRDs',
   'plus_code': {'compound_code': 'WWWH+FF Paramus, New Jersey, USA',
    'global_code': '87G7WWWH+FF'},
   'price_level': 2,
   'rating': 4.2,
   'reference': 'ChIJOZ7QC976wokRQH3LYQ7RRDs',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 239},

In [85]:
resultados = list(res["results"])

In [86]:
lat=[]
lon=[]
for e in resultados:
    lat.append(e.get("geometry").get("location").get("lat"))
    lon.append(e.get("geometry").get("location").get("lng"))
d={
    "Latitude": lat,
    "Longitude": lon
}
df_st=pd.DataFrame(d)
df_st.head()

    Latitude  Longitude
0  40.055727 -74.164850
1  39.936742 -75.045005
2  40.264683 -74.042442
3  40.219624 -74.632385
4  40.456454 -74.400224

In [87]:
df_st.to_json("Starbucks.json",default_handler=str,orient="records")

In [88]:
BASE_URL="https://maps.googleapis.com/maps/api/place/textsearch/json?"
parameters="input=school+new+jersey"
parameters2="&inputtype=textquery"
key="&key="+ os.environ["KEY"]

res2=requests.get(BASE_URL+parameters+parameters2+key)
res2=res2.json()

In [89]:
res2

{'html_attributions': [],
 'next_page_token': 'CoQCAAEAAHIzFPUe7QXvCnQQGSlLcsE3vmTRftXXHhi28sSiO224mNFNZf8WGykKCAaiXKs2WU0u1KpGx5IBl8pBuRal09X31G1tAbYFeUbCjHBjQC16MAsaenoGem09bB52ZNe24qvBt6XYRBe1WZK1ZnCC-mfgaVrmmePPYgo_ugty49lNH9uqRq3wvGyDjlaH5U1MuJ0ewrCQRLUW0R4d8OyzXffU6_yAlTKQyvn-FEDhAMCiTKp4LHrOvVi8GAeuSYSCcijo9NsoYKNP1EJdCx8g5434RMpeaAtTmim8m5c0GnS4SQ9vjrzvMLvD6uf7xmjouZXh6PmIfXzlrUytLtp0PicSEBHbfQmfahbqKJlhMZWFvJ4aFMCIFvm1k8cD_VjxULMVfC1GwV_Y',
 'results': [{'formatted_address': '413 W State St, Trenton, NJ 08618, USA',
   'geometry': {'location': {'lat': 40.2254245, 'lng': -74.7786536},
    'viewport': {'northeast': {'lat': 40.22687332989272,
      'lng': -74.77709367010728},
     'southwest': {'lat': 40.22417367010728, 'lng': -74.77979332989271}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
   'id': 'dd474bcb22e48d851d8e816531ed505a52fa24ed',
   'name': 'New Jersey School Boards Association',
   'place_id': 'ChIJp5Fuv9VZwYkRCBxYY5mu-m8',
   'plus_code': {'compound_code': '66GC+5G Trenton, Lower Makefield Township, NJ, USA',
    'global_code': '87G766GC+5G'},
   'rating': 5,
   'reference': 'ChIJp5Fuv9VZwYkRCBxYY5mu-m8',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 3},
  {'formatted_address': '901 NJ-10, Whippany, NJ 07981, USA',
   'geometry': {'location': {'lat': 40.8247041, 'lng': -74.4295228},
    'viewport': {'northeast': {'lat': 40.82627882989272,
      'lng': -74.42807592010728},
     'southwest': {'lat': 40.82357917010727, 'lng': -74.43077557989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
   'id': '397eda5852772590e78220521160bd8a3a1910f4',
   'name': 'Winston Preparatory School',
   'place_id': 'ChIJZafANranw4kRgF3YAldfn6U',
   'plus_code': {'compound_code': 'RHFC+V5 Whippany, Hanover, NJ, USA',
    'global_code': '87G7RHFC+V5'},
   'rating': 0,
   'reference': 'ChIJZafANranw4kRgF3YAldfn6U',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 0},
  {'formatted_address': '22 Kent Ct, Passaic, NJ 07055, USA',
   'geometry': {'location': {'lat': 40.8531353, 'lng': -74.1330878},
    'viewport': {'northeast': {'lat': 40.85440637989272,
      'lng': -74.13167532010728},
     'southwest': {'lat': 40.85170672010728, 'lng': -74.13437497989271}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
   'id': '1712b430bec839d9501e33b7a24a2ca114b15264',
   'name': 'Collegiate School',
   'photos': [{'height': 960,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110790392303338293178/photos">enquisidora</a>'],
     'photo_reference': 'CmRaAAAASPJIrWOKLKpJq8VR8Oij-OwZmonHnkIxYlgkyZ-ZKWNJogpMb9UI17FYZvml1WSdwB8ynB_WQ4sdnGqqTVLl114X64jCGHfM2zapKvTwt30yaIMNXj45bzCAgU9Ot_QpEhC4TtlKe9QRQlZMVaq0ekBTGhSs75HRpq84q9X2kjU-7WfD54_jaw',
     'width': 540}],
   'place_id': 'ChIJc0L8Ain_wokReAeu3o4ngxg',
   'plus_code': {'compound_code': 'VV38+7Q Passaic, New Jersey, USA',
    'global_code': '87G7VV38+7Q'},
   'rating': 3,
   'reference': 'ChIJc0L8Ain_wokReAeu3o4ngxg',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 7},
  {'formatted_address': '78 Washington St, Morristown, NJ 07960, USA',
   'geometry': {'location': {'lat': 40.798687, 'lng': -74.485854},
    'viewport': {'northeast': {'lat': 40.80012977989272,
      'lng': -74.48446047010728},
     'southwest': {'lat': 40.79743012010728, 'lng': -74.48716012989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
   'id': '61842dca17391eae93cd47b384e43c538140b634',
   'name': 'New Jersey Association of Independent Schools (NJAIS)',
   'place_id': 'ChIJB7NcW7qmw4kR3kzNxYj2b0A',
   'plus_code': {'compound_code': 'QGX7+FM Morristown, New Jersey, USA',
    'global_code': '87G7QGX7+FM'},
   'rating': 0,
   'reference': 'ChIJB7NcW7qmw4kR3kzNxYj2b0A',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 0},
  {'formatted_address': '1140 Commerce Ave, Union, NJ 07083, USA',
   'geometry': {'location': {'lat': 40.7036647, 'lng': -74.2782632},
    'viewport': {'northeast': {'lat': 40.70482832989273,
      'lng': -74.27658607010727},
     'southwest': {'lat': 40.70212867010729, 'lng': -74.27928572989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
   'id': 'ad8ae1345f297df0edab36e9e6e499880077dead',
   'name': 'The Deron School of New Jersey',
   'photos': [{'height': 286,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115283359015754653334/photos">Deron School I</a>'],
     'photo_reference': 'CmRaAAAAy6hbwJlXsy-Gsd1XRT2yxriDd0NiaF5ikUbQVIKQF65Lf4sXkhuwKJtsM2eY5Rg6K9IfRrRw2eQspHnjO-SiOI_ZQa-LhRCtOvqPr_pg2JOy0VRJSEKdJr12wbC0hemDEhCBVPOwVKr0j3_xw4g36YN_GhRzC-Z70JmEHcMpISYUz_M2eFeVDw',
     'width': 305}],
   'place_id': 'ChIJk1kMabutw4kRz1TYdaJAhmo',
   'plus_code': {'compound_code': 'PP3C+FM Union, New Jersey, USA',
    'global_code': '87G7PP3C+FM'},
   'rating': 5,
   'reference': 'ChIJk1kMabutw4kRz1TYdaJAhmo',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 7},
  {'formatted_address': '123 Coles St, Jersey City, NJ 07302, USA',
   'geometry': {'location': {'lat': 40.7268028, 'lng': -74.0475072},
    'viewport': {'northeast': {'lat': 40.72813202989272,
      'lng': -74.04587577010727},
     'southwest': {'lat': 40.72543237010728, 'lng': -74.04857542989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
   'id': '7108360027c2e322397f88580fd1437af6e135bf',
   'name': 'McNair Academic High School',
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/118100802246569185859/photos">JAMES H.</a>'],
     'photo_reference': 'CmRaAAAAbFcesrfW22QaGwqEissCmfZLmisvP3vSPS9vIA6PghB6QtJdeEVsCM4nlvjNcUaEAeJ425ByfVEzynfhVY58PyXrpX3tHL5ImQHCh1Hddd2w3yFEDvNEswj1_eZNDB0_EhB4EXAzUbdrLiSR2b1tAypKGhSXEuNCr0asILrbPtlYsVpU_gw8PA',
     'width': 3024}],
   'place_id': 'ChIJaaAchkxXwokRraGYH78nQ3U',
   'plus_code': {'compound_code': 'PXG2+PX Jersey City, New Jersey, USA',
    'global_code': '87G7PXG2+PX'},
   'rating': 4.5,
   'reference': 'ChIJaaAchkxXwokRraGYH78nQ3U',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 19},
  {'formatted_address': '117 Franklin Ave, Oakland, NJ 07436, USA',
   'geometry': {'location': {'lat': 41.0295306, 'lng': -74.22699089999999},
    'viewport': {'northeast': {'lat': 41.03044332989273,
      'lng': -74.22585467010727},
     'southwest': {'lat': 41.02774367010728, 'lng': -74.22855432989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
   'id': '95adc4052f381359956974a727db70a7fa0b7a7a',
   'name': 'New Jersey Japanese School',
   'place_id': 'ChIJB64ZVYIdw4kRDGwPxbTqel8',
   'plus_code': {'compound_code': '2QHF+R6 Oakland, New Jersey, USA',
    'global_code': '87H72QHF+R6'},
   'rating': 4.5,
   'reference': 'ChIJB64ZVYIdw4kRDGwPxbTqel8',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 2},
  {'formatted_address': '330 River Rd, New Milford, NJ 07646, USA',
   'geometry': {'location': {'lat': 40.9420428, 'lng': -74.02152819999999},
    'viewport': {'northeast': {'lat': 40.94323342989271,
      'lng': -74.01975952010727},
     'southwest': {'lat': 40.94053377010727, 'lng': -74.0224591798927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
   'id': '1ee66cec363ed7236d07979ba6907e7acb1501b3',
   'name': 'New Milford High School',
   'place_id': 'ChIJgTslNgzwwokR5vgEnmw-mts',
   'plus_code': {'compound_code': 'WXRH+R9 New Milford, New Jersey, USA',
    'global_code': '87G7WXRH+R9'},
   'rating': 3.1,
   'reference': 'ChIJgTslNgzwwokR5vgEnmw-mts',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 9},
  {'formatted_address': '200 Hackensack Ave, Hackensack, NJ 07601, USA',
   'geometry': {'location': {'lat': 40.9025128, 'lng': -74.0339469},
    'viewport': {'northeast': {'lat': 40.90512035, 'lng': -74.03240625},
     'southwest': {'lat': 40.90055295, 'lng': -74.03577005}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
   'id': '9629ffb42c019a6fa6ae3f901a7aecb5200f4fe6',
   'name': 'Bergen County Academies',
   'photos': [{'height': 1960,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106369510760727969386/photos">R David Koby</a>'],
     'photo_reference': 'CmRaAAAAA4coulRH-W1CHeNJDVUWsy3ovXsP4B6_ZEN7NszNgUZ3z2SA6lco4yo4fozEQD7iKAogHre5whWTB_n8eu7fBYHabku-CrqDmYVmLY4hYshhLJvJ6gEiI8R-Xu6g9s7REhCkFzY39LBW00DdOUVyxEM1GhQFZNmopCyjj0irf1ZOxQmb8fOIAA',
     'width': 4032}],
   'place_id': 'ChIJjbev7HT6wokRi3U77paubQU',
   'plus_code': {'compound_code': 'WX38+2C Hackensack, New Jersey, USA',
    'global_code': '87G7WX38+2C'},
   'rating': 4.4,
   'reference': 'ChIJjbev7HT6wokRi3U77paubQU',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 16},
  {'formatted_address': '2500 Main St, Lawrenceville, NJ 08648, USA',
   'geometry': {'location': {'lat': 40.294186, 'lng': -74.7249281},
    'viewport': {'northeast': {'lat': 40.29574007989272,
      'lng': -74.72331737010728},
     'southwest': {'lat': 40.29304042010727, 'lng': -74.72601702989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
   'id': '302c871da84000fc3e3f2c90951f4a0b87e6624e',
   'name': 'The Lawrenceville School',
   'photos': [{'height': 1343,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113935826421823763242/photos">The Lawrenceville School</a>'],
     'photo_reference': 'CmRaAAAAVNq1BLGPC90aWgTFndMJ7lZnTD0x_pCugnKGZrHUaKuhJU-DhaRTXctp8-DkzJGr7RvugXy52kky-uvX6sDKMfyW-UbaeBbfpOEnsGmPVnTF8DDLLsvI8jUCKM4FmhQTEhCfdYXFqseifMM0un6qO6PJGhSW9t9MXPYRsWjY29OBnHcjBPkcmg',
     'width': 2048}],
   'place_id': 'ChIJ1yI7IVfiw4kRV899pucfWlY',
   'plus_code': {'compound_code': '77VG+M2 Lawrenceville, Lawrence Township, NJ, USA',
    'global_code': '87G777VG+M2'},
   'rating': 4.6,
   'reference': 'ChIJ1yI7IVfiw4kRV899pucfWlY',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 40},
  {'formatted_address': '315 E Palisade Ave, Englewood, NJ 07631, USA',
   'geometry': {'location': {'lat': 40.8881541, 'lng': -73.96172829999999},
    'viewport': {'northeast': {'lat': 40.88968792989272,
      'lng': -73.96021792010727},
     'southwest': {'lat': 40.88698827010727, 'lng': -73.96291757989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
   'id': '987a896bed6b2caf8a8e88ef75f46f5dae4e29f4',
   'name': 'Dwight-Englewood School',
   'photos': [{'height': 2992,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103744533365709804225/photos">Przemysław Grzesik</a>'],
     'photo_reference': 'CmRaAAAA1gZ3sTUgcJvWno8IF1r7hBPO_iMACNcIbu49TSYw6J63Ossw1ENA0MirgIJk_XIEuYrXw69wdZbKXL4ksrGyjJlWNmK0QMvrxqgbwNIrsaFD4atciyxl2xdjUmM78R6GEhC7JeurmMNwj5TX2m3VmHXWGhQyc12jsMvrVo88wyLn4tMxwEkR5A',
     'width': 4000}],
   'place_id': 'ChIJHUlQ5T7xwokRtj2d0z83OsA',
   'plus_code': {'compound_code': 'V2QQ+78 Englewood, New Jersey, USA',
    'global_code': '87G8V2QQ+78'},
   'rating': 4.7,
   'reference': 'ChIJHUlQ5T7xwokRtj2d0z83OsA',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 14},
  {'formatted_address': '131 Martinsville Road, Basking Ridge, NJ 07920, USA',
   'geometry': {'location': {'lat': 40.6200906, 'lng': -74.56769229999999},
    'viewport': {'northeast': {'lat': 40.62122387989272,
      'lng': -74.56620787010728},
     'southwest': {'lat': 40.61852422010728, 'lng': -74.56890752989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
   'id': 'cb435bdd23d4e190c81ae349991ce34a5d2f9678',
   'name': 'The Pingry School',
   'photos': [{'height': 3264,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110348227580065280474/photos">Illsoo Kim</a>'],
     'photo_reference': 'CmRaAAAAJFUs_cXDQyS5hehEZ1zuvJSD7_1vt37M1hxUv6-jT36cP02yYT9uQ88HdLiz6PM3_UkrZRoVEYrn9HO-kxfvToUPRbney7OQ0GcpzFuRWiV3Qh1_aSKsNrBCynpVPElPEhDEmtmfQrdxe5vSRk7WpyvbGhSCIl_hxvy-ZPm32AQ_Rb_miJf86A',
     'width': 1836}],
   'place_id': 'ChIJAY5vc-O8w4kRgwkOA5Y16gI',
   'plus_code': {'compound_code': 'JCCJ+2W Basking Ridge, Bernards, NJ, USA',
    'global_code': '87G7JCCJ+2W'},
   'rating': 4.7,
   'reference': 'ChIJAY5vc-O8w4kRgwkOA5Y16gI',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 15},
  {'formatted_address': '21 Lum Ave, Chatham Township, NJ 07928, USA',
   'geometry': {'location': {'lat': 40.7387039, 'lng': -74.3858386},
    'viewport': {'northeast': {'lat': 40.73997472989271,
      'lng': -74.38414212010727},
     'southwest': {'lat': 40.73727507010727, 'lng': -74.38684177989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
   'id': 'cff28dac58408bf87b9b3242cae291a45d097f83',
   'name': 'ECLC of New Jersey Chatham School',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1514,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109739287305285151998/photos">A Google User</a>'],
     'photo_reference': 'CmRaAAAAeRbKViFwYFlk6c50ylET4pxlgLsvoN-NOnA9MX8w1cwZA7GRBJfsswOn3tOmyWUXWy4SZMDgYwskeBx3WI63tlcMjVOz4PbpeCC097Q5M8qlmSeFbH6RtA9HPbqahlSuEhCiUmG0RROQv9ThwYK1cP13GhRI57y07pWp7XBklcsvYzRo1nVEXg',
     'width': 2048}],
   'place_id': 'ChIJhal-5XOvw4kRh46I4spLd0A',
   'plus_code': {'compound_code': 'PJQ7+FM Chatham Township, New Jersey, USA',
    'global_code': '87G7PJQ7+FM'},
   'rating': 5,
   'reference': 'ChIJhal-5XOvw4kRh46I4spLd0A',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 4},
  {'formatted_address': '176 Edgerstoune Rd, Princeton, NJ 08540, USA',
   'geometry': {'location': {'lat': 40.3372103, 'lng': -74.6861637},
    'viewport': {'northeast': {'lat': 40.33883927989272,
      'lng': -74.68450902010728},
     'southwest': {'lat': 40.33613962010728, 'lng': -74.68720867989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
   'id': '0bd9a3dadeb5d884594e1ba7642040c5a5634ffe',
   'name': 'The Hun School of Princeton',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 860,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108500298067115347696/photos">The Hun School of Princeton</a>'],
     'photo_reference': 'CmRaAAAAme_9H_CLi_PlhCbO-xUqM6wEAYPKaSSylxduDFz1g7fUMyzD25clb4n23cbcB-0B-w7th0dEcBfkU03z3x35WjSvzK57Ppi8pu_IdouXnK8iLKmt3SUNyJYla37uTPesEhDozlpkhJf7Rh9sj5Gc4GgoGhRvcdgrLJtzV-YZQC-3Aa11FwJbVQ',
     'width': 860}],
   'place_id': 'ChIJ1Tj3CKvmw4kR3fbwO2eDjx0',
   'plus_code': {'compound_code': '88P7+VG Princeton, New Jersey, USA',
    'global_code': '87G788P7+VG'},
   'rating': 4.4,
   'reference': 'ChIJ1Tj3CKvmw4kR3fbwO2eDjx0',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 20},
  {'formatted_address': '151 Moore St, Princeton, NJ 08540, USA',
   'geometry': {'location': {'lat': 40.35841, 'lng': -74.6560101},
    'viewport': {'northeast': {'lat': 40.35956892989272,
      'lng': -74.65525230000001},
     'southwest': {'lat': 40.35686927010727, 'lng': -74.65828349999998}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
   'id': 'ea01cccbdda00ad1227b21e0f53c7729e66a38b5',
   'name': 'Princeton High School',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105581910041035817982/photos">A Google User</a>'],
     'photo_reference': 'CmRaAAAAp3BoynChHJn1BzRg-nd_GBnuGC0dnyt26ZJIqi2R1M_A3mfWSmUYteZ9e0Zs0DZ1Uu1XWQ4z_hbKuYeq2wC8x18wbxK19AUqgHMgx7rML9AUU0KOSTUXzMGZdnkTh5IYEhCaOwxuBwE4_jSulcuktxeEGhTm9MiXdBvAw_a2X2J4tYBVjU6b9A',
     'width': 1960}],
   'place_id': 'ChIJD4xPte7mw4kRGyMZorlbVGo',
   'plus_code': {'compound_code': '985V+9H Princeton, New Jersey, USA',
    'global_code': '87G7985V+9H'},
   'rating': 3.6,
   'reference': 'ChIJD4xPte7mw4kRGyMZorlbVGo',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 22},
  {'formatted_address': '60 Park Pl #802, Newark, NJ 07102, USA',
   'geometry': {'location': {'lat': 40.7383439, 'lng': -74.1689952},
    'viewport': {'northeast': {'lat': 40.73981327989272,
      'lng': -74.16781322010728},
     'southwest': {'lat': 40.73711362010727, 'lng': -74.17051287989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
   'id': '0377f6896a76608d88a0e916d9f77b22efa335e3',
   'name': 'KIPP New Jersey',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 960,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107486571799446991273/photos">Thomas de Simon</a>'],
     'photo_reference': 'CmRaAAAAbzxrw1ZN4EBTBF27z6ZCAJPJ-sCRNdUIMoexGCI6QdHeLHEAq0-8Ybvmzh6r90Oodz8EKv5etkzf3yo-gBpZyf6K9GHnt5ytm-zeUO3gCoWt58Q9Eb8lSBavj9QhEn10EhBA5XizUnHLUks8uQra89i_GhQdFBBO5AokP9qaFayqbohsLMHkHw',
     'width': 960}],
   'place_id': 'ChIJVVVVVXhTwokRGT82AJQAJtw',
   'plus_code': {'compound_code': 'PRQJ+8C Newark, New Jersey, USA',
    'global_code': '87G7PRQJ+8C'},
   'rating': 4,
   'reference': 'ChIJVVVVVXhTwokRGT82AJQAJtw',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1},
  {'formatted_address': '42 Norwood Ave, Summit, NJ 07902, USA',
   'geometry': {'location': {'lat': 40.719934, 'lng': -74.36464699999999},
    'viewport': {'northeast': {'lat': 40.72148832989272,
      'lng': -74.36284722010727},
     'southwest': {'lat': 40.71878867010728, 'lng': -74.36554687989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
   'id': '03ea5045baa0f12244499282ccc727c6be8e6dbe',
   'name': 'Kent Place School',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1200,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101209819090671110114/photos">Kent Place School</a>'],
     'photo_reference': 'CmRaAAAA1nO_evolesl7pUw5BSHqKqrGKawun6f-2Q5iJMBQPO_IT-zfDKqsYRt_SaZ30qfP54eD5f_QoAJdV0oEg95y2GmN_JJbSkzi987hcujxCx8lA25hWOCoXY2AxhuyzmOxEhAe3Gkg0Q96GUxXb8ZGgLBGGhS3VuuiHmKG5bv-Up8ezkkxay-3Qw',
     'width': 1800}],
   'place_id': 'ChIJvxuYB66vw4kREBZHXmwp8M4',
   'plus_code': {'compound_code': 'PJ9P+X4 Summit, New Jersey, USA',
    'global_code': '87G7PJ9P+X4'},
   'rating': 4.4,
   'reference': 'ChIJvxuYB66vw4kREBZHXmwp8M4',
   'types': ['school', 'point_of_interest', 'establishment'],
   'user_ratings_total': 8},
  {'formatted_address': '230 Mendham Rd, Morristown, NJ 07960, USA',
   'geometry': {'location': {'lat': 40.7882833, 'lng': -74.5312312},
    'viewport': {'northeast': {'lat': 40.79013182989272,
      'lng': -74.52948692010727},
     'southwest': {'lat': 40.78743217010728, 'lng': -74.53218657989271}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/school-71.png',
   'id': 'ac96b6a1190fadef5f53f0fbddfb69af4d22b29b',
   'name': 'Delbarton School',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1362,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115005511099699595093/photos">Delbarton School</a>'],
     'photo_reference': 'CmRaAAAA7NKfWJ0TthAy2aU6o6jyb_RscY9KLkjVFp9Yx8fM1y7xPJF8H5GxlUrORfDEcEI75OcSgItydAodlPNfyu2tV9RiilIqrO6OuuB4aVM3eGxk9DKZdBmd2Jhps_Z3aLd4EhA_60AmbRVmalrCpISmUCUGGhS41FdydEgdP4gvtaeRQQKsTtVKEQ',
     'width': 2048}],
   'place_id': 'ChIJFW85Stmjw4kR7O0SDInb2Z0',
   'plus_code': {'compound_code': 'QFQ9+8G Morristown, New Jersey, USA',
    'global_code': '87G7QFQ9+8G'},
   'rating': 4.1,
   'reference': 'ChIJFW85Stmjw4kR7O0SDInb2Z0',

In [90]:
name_sc=[]
lat2=[]
lon2=[]
for e in res2["results"]:
    name_sc.append(e.get("name"))
    lat2.append(e.get("geometry").get("location").get("lat"))
    lon2.append(e.get("geometry").get("location").get("lng"))

d2={
    "Name": name_sc,
    "Latitude": lat2,
    "Longitude":lon2
}
df_schoolsImport=pd.DataFrame(d2)
df_schoolsImport.head()

                                                Name   Latitude  Longitude
0               New Jersey School Boards Association  40.225425 -74.778654
1                         Winston Preparatory School  40.824704 -74.429523
2                                  Collegiate School  40.853135 -74.133088
3  New Jersey Association of Independent Schools ...  40.798687 -74.485854
4                     The Deron School of New Jersey  40.703665 -74.278263

In [91]:
df_schoolsImport.shape

(20, 3)

In [92]:
df_schoolsImport.to_json("SchoolsNJ.json",default_handler=str,orient="records")

In [93]:
BASE_URL="https://maps.googleapis.com/maps/api/place/textsearch/json?"
parameters="input=vegan+restaurant+new+jersey"
parameters2="&inputtype=textquery"
key="&key="+ os.environ["KEY"]

res3=requests.get(BASE_URL+parameters+parameters2+key)
res3=res3.json()

In [94]:
res3

{'html_attributions': [],
 'next_page_token': 'CpQCCgEAAMYoAWMCq4w-PQVhnh5tAAV_PTbN_owe4A1-2BmdfmQkP_vVt3dpf0iBtefSFGTKIf3P2MXjyRwxVQ57h291GzAaRVKE6VsuT9epIvg0cGIXPM9NPZaes7V5NtzUgNjQAhen7zzOjpyWWsOpCZsVPTh31StFr9Pir3gJM5L2AC9BMMGEmuoB2mdRujJuQMk43VJkc4bK2xD4c8TBAzdRDJectR3x4XEIGWM4M4MCegTWrBa46n7ylcP57eAzxofa3eh60LFoM1SBgxRJvCrNALgkPP0PEIE-inOXnywqMr3q1Q2kcHt-5FIHb_YDMtg5Yn0j8Ab6oavVbAe1APIySWbKKjOyQ2PTS5b93aipHUNTEhB5aswqdGgxcNGpHxqVoowMGhRW6coBWQ0GWV7rf-egmYk67a7G_Q',
 'results': [{'formatted_address': '996 Stuyvesant Ave, Union, NJ 07083, USA',
   'geometry': {'location': {'lat': 40.6963382, 'lng': -74.2702831},
    'viewport': {'northeast': {'lat': 40.69763572989272,
      'lng': -74.26884767010728},
     'southwest': {'lat': 40.69493607010728, 'lng': -74.27154732989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': '9fa2456f1ffb5e0c30638e79642be64e3f50fffe',
   'name': 'Killer Vegan',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100378152226812815625/photos">joey avniel</a>'],
     'photo_reference': 'CmRaAAAAU8xnzLx1IWmCcfm20Jh_UQZm7NJQfzYZt_RQDqw64W0KLCSuSm12X_KN9FmIFNcUdakmhAU2gcbg4B-df665kFsTc-Rfg6XvsiWNhU_jXYUnGQsFISAZ8EKi5eBPLNtPEhAdy9Uekk1Wvnnzz8kIEYx1GhS9UOXZRVL3e7hsN19HGQEs-gX3Pg',
     'width': 4032}],
   'place_id': 'ChIJXW84UZ-tw4kRZ8s1AN_3hoU',
   'plus_code': {'compound_code': 'MPWH+GV Union, New Jersey, USA',
    'global_code': '87G7MPWH+GV'},
   'price_level': 2,
   'rating': 4.1,
   'reference': 'ChIJXW84UZ-tw4kRZ8s1AN_3hoU',
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 435},
  {'formatted_address': '9 Spring St, New Brunswick, NJ 08901, USA',
   'geometry': {'location': {'lat': 40.4955189, 'lng': -74.445155},
    'viewport': {'northeast': {'lat': 40.49685702989272,
      'lng': -74.44388262010729},
     'southwest': {'lat': 40.49415737010727, 'lng': -74.44658227989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': '9dc17e4b557ddf4324e2d067e908ed7c34483850',
   'name': 'Veganized',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1536,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104907772970996455210/photos">Aristone Louxz</a>'],
     'photo_reference': 'CmRaAAAADHqtDXYMuuJNqHfM4D_TmNKDS7YqvYvR9JwiTv7kpUN1dnSMZjMG6RPwEmZ_bwsLoyV-JtdAj7okNGyteQOoP8s0jQyZE1NvLuSViRYCgrj5GC8EfOCz0NFDhP2fLU1PEhAE_uOk6rNH7jBEJLNEXZ-SGhSetOuzXhrOfcLb4R1Dp97HppWrng',
     'width': 2048}],
   'place_id': 'ChIJ8TFcIlHGw4kRgu-AgPk5U38',
   'plus_code': {'compound_code': 'FHW3+6W New Brunswick, New Jersey, USA',
    'global_code': '87G7FHW3+6W'},
   'price_level': 2,
   'rating': 4.5,
   'reference': 'ChIJ8TFcIlHGw4kRgu-AgPk5U38',
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 609},
  {'formatted_address': '20 Church St, Montclair, NJ 07042, USA',
   'geometry': {'location': {'lat': 40.813753, 'lng': -74.218367},
    'viewport': {'northeast': {'lat': 40.81518667989272,
      'lng': -74.21700157010727},
     'southwest': {'lat': 40.81248702010728, 'lng': -74.21970122989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': '12ff04aa32fbb3fda69686e9b665bbb1165b39f3',
   'name': 'Mundo Vegan',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 2268,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112839088184130176234/photos">Kevin Maguire</a>'],
     'photo_reference': 'CmRaAAAAn9buPyZiD5IA7aBbPjfPSUnANWjJEdABNhoNXRYTAoNLsKLLztvgOnjucPcu089IUodmTZTh8f1gf4lZOo36b-NjkkYnqXwB3EnGjdy7Vb25ubV3hk3vD4XeTgKH7h11EhAcdUNr4QGDM0bYfd7q_YMeGhR7lkDPMBwvZd5koxtWmKcC-Ei6Xg',
     'width': 4032}],
   'place_id': 'ChIJ5X_nQbOqw4kRMYAt2fpPE5E',
   'plus_code': {'compound_code': 'RQ7J+GM Montclair, New Jersey, USA',
    'global_code': '87G7RQ7J+GM'},
   'price_level': 2,
   'rating': 4.3,
   'reference': 'ChIJ5X_nQbOqw4kRMYAt2fpPE5E',
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 132},
  {'formatted_address': '547 Central Ave, Newark, NJ 07107, USA',
   'geometry': {'location': {'lat': 40.749374, 'lng': -74.19667199999999},
    'viewport': {'northeast': {'lat': 40.75059592989272,
      'lng': -74.19539727010728},
     'southwest': {'lat': 40.74789627010728, 'lng': -74.19809692989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': '8c9cc04be242a10d1fe2f5a30f57dcaf087ec04a',
   'name': 'Blueberry Cafe Juice Bar And Vegan Grille',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103395790528871192184/photos">Monica Hall</a>'],
     'photo_reference': 'CmRaAAAAfvloLA5zDISh_w52bstNC0_mSXP0DOE_OwEgDmSBaVaU5VfqHD2osJAzWQjOGg0TLIquxt_P_8UDCjSi0aRzB_YE7CXbY79m-GR_oYYdNYiqoNqyVEwDvCecbyXIc-auEhAJWYCJqRrkNOIbKatfWrGfGhS-DpaXQShZCUBUFJyxvJ8PWXrZnw',
     'width': 3024}],
   'place_id': 'ChIJUcCroqFUwokRMu44q-OJqG0',
   'plus_code': {'compound_code': 'PRX3+P8 Newark, New Jersey, USA',
    'global_code': '87G7PRX3+P8'},
   'price_level': 2,
   'rating': 4.6,
   'reference': 'ChIJUcCroqFUwokRMu44q-OJqG0',
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 312},
  {'formatted_address': '501 N High St, Millville, NJ 08332, USA',
   'geometry': {'location': {'lat': 39.401026, 'lng': -75.038465},
    'viewport': {'northeast': {'lat': 39.40236687989272,
      'lng': -75.03725587010727},
     'southwest': {'lat': 39.39966722010728, 'lng': -75.03995552989271}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': 'a6196c180216c6c0d6f1522927457dc93905091d',
   'name': 'Wildflower Vegan Cafe',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4656,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116289780276151546041/photos">Ray Garcia</a>'],
     'photo_reference': 'CmRaAAAAnQN4cjnWUIsa_60R68N7BVd_EkWMvC2g9QDj2IiYCSkU_3D8wy0b5taJ2YG8Ait2xkW47oIftAZk5jmUpbHN5_SwxnQC4acz7xrwp2Ue_Mb6U_B1RaEQTmev-TIpQshrEhCYjEPyyY4hvupsMtr6NVI2GhTm2kIq4qi3MHebW7fvHKbnvsgcsA',
     'width': 3492}],
   'place_id': 'ChIJE8D-2xQ0x4kReD5IKTOtve0',
   'plus_code': {'compound_code': 'CX26+CJ Millville, Downe, NJ, USA',
    'global_code': '87F6CX26+CJ'},
   'price_level': 1,
   'rating': 4.7,
   'reference': 'ChIJE8D-2xQ0x4kReD5IKTOtve0',
   'types': ['bakery',
    'restaurant',
    'food',
    'store',
    'point_of_interest',
    'establishment'],
   'user_ratings_total': 161},
  {'formatted_address': '656 Anderson Ave, Cliffside Park, NJ 07010, USA',
   'geometry': {'location': {'lat': 40.8265367, 'lng': -73.9870954},
    'viewport': {'northeast': {'lat': 40.82790237989272,
      'lng': -73.98581857010728},
     'southwest': {'lat': 40.82520272010728, 'lng': -73.98851822989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': '845da669af53598dcb81fbb64ed44628404c3337',
   'name': 'Nefista Vegan Kofteh / Çiğ Köfte',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116562411318453500190/photos">A Google User</a>'],
     'photo_reference': 'CmRZAAAA9MD8UIzURSY5IIgMy8QiRMniJTvAsEzDtO2KIXhQKvHdSztOKQfL2S2bJkPgiznxypL94GsXMLGttbye7GzaLlPUiJ2MXaHW6HmYPMW1V6tTMDqzg3cuPc9u1UQM5XT1EhBhR_lE01JEiZK_eAbelUDdGhS0F0Qyg5NNbcyoUiLgLV4YbPo-uw',
     'width': 3024}],
   'place_id': 'ChIJO1KGua33wokRGHwixCFhq94',
   'plus_code': {'compound_code': 'R2G7+J5 Cliffside Park, New Jersey, USA',
    'global_code': '87G8R2G7+J5'},
   'price_level': 1,
   'rating': 4.7,
   'reference': 'ChIJO1KGua33wokRGHwixCFhq94',
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 127},
  {'formatted_address': '473 Cedar Ln, Teaneck, NJ 07666, USA',
   'geometry': {'location': {'lat': 40.8896296, 'lng': -74.022494},
    'viewport': {'northeast': {'lat': 40.89083807989272,
      'lng': -74.02125032010727},
     'southwest': {'lat': 40.88813842010728, 'lng': -74.0239499798927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': 'b0dcfe7c3e0490f7591aebda4a89e898a9f512e9',
   'name': 'Veggie Heaven',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2184,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107669584806368913566/photos">Arvind SR</a>'],
     'photo_reference': 'CmRaAAAAK_Pt3eumDVS1MJ-sgleeS9xx07VB66bcdluYh7MAeAzPRpMzgP2DQ408XspMxV36qDZCLiho0donohmjW1SJXtLTyPSnQZmPSO-pqseYsKq83_X2kpW12nor3KBiEeHLEhB2kwxp6RlrVxmfb3KTcYA3GhQy4ed4yaqvaBd4gP7WqSoOuwcsbw',
     'width': 4608}],
   'place_id': 'ChIJ93ghjaXwwokR-HGjHBSdDS0',
   'plus_code': {'compound_code': 'VXQH+V2 Teaneck, New Jersey, USA',
    'global_code': '87G7VXQH+V2'},
   'price_level': 2,
   'rating': 4.5,
   'reference': 'ChIJ93ghjaXwwokR-HGjHBSdDS0',
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 870},
  {'formatted_address': '387 Bloomfield Ave, Montclair, NJ 07042, USA',
   'geometry': {'location': {'lat': 40.8127607, 'lng': -74.215805},
    'viewport': {'northeast': {'lat': 40.81405417989272,
      'lng': -74.21452957010729},
     'southwest': {'lat': 40.81135452010727, 'lng': -74.21722922989274}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': '92268734cb7caa097d4a5c42c4d0a223b83c5439',
   'name': 'Vital',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110959418627228524596/photos">darya latham</a>'],
     'photo_reference': 'CmRaAAAAsnPlcfA8UJ_Y39Ho5mrYmymjPfw4GqJEL5ZkiZCboxM7N89G_EIvw2KdiqUr_KTGJx7crtGbSJyn7PGMCeRDY0jzW1Jv7Uo1ObEbbKboz4J2ps1cgklej_9uz3bx5kNOEhDa-FxQfypblYz2SKqiyrMLGhTVQ_cp6O1TEH7RfjXaTG_5BWIAoA',
     'width': 3024}],
   'place_id': 'ChIJNYgWg0xVwokR8st85NlGvDA',
   'plus_code': {'compound_code': 'RQ7M+4M Montclair, New Jersey, USA',
    'global_code': '87G7RQ7M+4M'},
   'price_level': 2,
   'rating': 4.3,
   'reference': 'ChIJNYgWg0xVwokR8st85NlGvDA',
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 200},
  {'formatted_address': '538 NJ-10, Ledgewood, NJ 07852, USA',
   'geometry': {'location': {'lat': 40.877815, 'lng': -74.6502216},
    'viewport': {'northeast': {'lat': 40.87914692989272,
      'lng': -74.64905512010728},
     'southwest': {'lat': 40.87644727010728, 'lng': -74.65175477989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': '6dcddc09082e19b7d04ef1afbf82a001eae4a40d',
   'name': 'Loving Hut',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 2048,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103573434061457640090/photos">Veg Cake</a>'],
     'photo_reference': 'CmRZAAAAl1pHR4vXpBRxch0_5FG6sEPFGseI3M7tIIBjLGQI61tWvNstPggzg_Vjj3u8XGpmik19xZp2sVugEK5Gbw77BLpYiqNlr1U-F15MXXuWnA8n95HvpxcFHib38u_9-Vd-EhCxI3eIMzNttPucP_afsC-IGhR0nqiSo3Y8QfZvxRzTgnPxDyKvwQ',
     'width': 1152}],
   'place_id': 'ChIJk12uwi-ew4kRuaeKMWQnRoA',
   'plus_code': {'compound_code': 'V8HX+4W Ledgewood, Roxbury Township, NJ, USA',
    'global_code': '87G7V8HX+4W'},
   'price_level': 1,
   'rating': 4.4,
   'reference': 'ChIJk12uwi-ew4kRuaeKMWQnRoA',
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 128},
  {'formatted_address': '1000 Main St, Belmar, NJ 07719, USA',
   'geometry': {'location': {'lat': 40.1791072, 'lng': -74.0253061},
    'viewport': {'northeast': {'lat': 40.18054522989272,
      'lng': -74.02389657010728},
     'southwest': {'lat': 40.17784557010727, 'lng': -74.02659622989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': '26aaf457c86e413b4cedddd8fe23bb6bc40867c0',
   'name': "Kaya's Kitchen",
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2988,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103960771315503096355/photos">mark jelley</a>'],
     'photo_reference': 'CmRaAAAAC5Eo2jlqZJWLS9prowHMwcYXtfSGk_3uzf5EN5hRtZUXb9vCKt_wbSx3dMmUo7EzweeRlRSlhpZxFNAlFZ49c1ArDd159QJyZmRI4-pWAeHxVrnT2HkEZ8BiaKGI-hk-EhCpHVZ9JqKikf-Ia9prtNcsGhQvZdS5Cqhbk9d1WFuim2G8TP4qow',
     'width': 3984}],
   'place_id': 'ChIJdQnlfeEnwokRS_pslQ9k_eg',
   'plus_code': {'compound_code': '5XHF+JV Belmar, New Jersey, USA',
    'global_code': '87G75XHF+JV'},
   'price_level': 2,
   'rating': 4.5,
   'reference': 'ChIJdQnlfeEnwokRS_pslQ9k_eg',
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 292},
  {'formatted_address': '17 E Front St, Red Bank, NJ 07701, USA',
   'geometry': {'location': {'lat': 40.352604, 'lng': -74.0646994},
    'viewport': {'northeast': {'lat': 40.35388512989272,
      'lng': -74.06331872010728},
     'southwest': {'lat': 40.35118547010728, 'lng': -74.06601837989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': '8eda3e06daf4187dad8f7e0df0d1b9f21c05dbc1',
   'name': 'Good Karma Cafe',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113179236926382408582/photos">Mark R</a>'],
     'photo_reference': 'CmRaAAAAQml8A63TeqOs55Tl6KxZe0UL7xy_EFFk9uoxFu17P2irH8tC-b5diDTMuZBU1zJ84TQ0wc9YFdqMkPS_Ol7Vu_JSpzmsaoE5niOqw9_KPFgGy728xH0iiUC3FQIjQcVsEhDB4lWX7oWcFZs62keW-omMGhRQUG1tXjIs9pgXeJNlscIggAld1g',
     'width': 3024}],
   'place_id': 'ChIJd_Yt0kcwwokRRaYTEJsYnzM',
   'plus_code': {'compound_code': '9W3P+24 Red Bank, New Jersey, USA',
    'global_code': '87G79W3P+24'},
   'price_level': 2,
   'rating': 4.6,
   'reference': 'ChIJd_Yt0kcwwokRRaYTEJsYnzM',
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 311},
  {'formatted_address': '952 NJ-34, Matawan, NJ 07747, USA',
   'geometry': {'location': {'lat': 40.40652240000001,
     'lng': -74.23426200000002},
    'viewport': {'northeast': {'lat': 40.40795082989272,
      'lng': -74.23279572010728},
     'southwest': {'lat': 40.40525117010727, 'lng': -74.23549537989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': '4c4026af4fe29a6bb0690d7af15675e2e8a81f3b',
   'name': 'Vegan Tree',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3968,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116437344953717762735/photos">Vegan Tree</a>'],
     'photo_reference': 'CmRaAAAAIZDUNtnw-hmlpQrAcnvqJx7oTawnE9td-HSrMwTGL2LEANCc-qlp6cqx4-GnQiGWVcahlqeZZBRo3fGi8ya-EFaHyhQ-Tqs9YSU7QFhmvsMxQc57ExNhFSlqp2Q26priEhCPhYaXQ8BqkinwglYOZ5FrGhSFlsp1HkblmdF2AxedbGsQc1fPxw',
     'width': 2976}],
   'place_id': 'ChIJvzTBYMTMw4kRDH4wqdc-4SM',
   'plus_code': {'compound_code': 'CQ48+J7 Matawan, Aberdeen Township, NJ, USA',
    'global_code': '87G7CQ48+J7'},
   'price_level': 2,
   'rating': 4.4,
   'reference': 'ChIJvzTBYMTMw4kRDH4wqdc-4SM',
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 113},
  {'formatted_address': '10 Park St, Montclair, NJ 07042, USA',
   'geometry': {'location': {'lat': 40.81551229999999, 'lng': -74.2188726},
    'viewport': {'northeast': {'lat': 40.81682652989272,
      'lng': -74.21746052010728},
     'southwest': {'lat': 40.81412687010727, 'lng': -74.22016017989272}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': '3fea46f96b95ee0a80b2e55d671bdc580a69c15c',
   'name': 'Montclair Vegan',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114446785556521356266/photos">Aaron Greenwood</a>'],
     'photo_reference': 'CmRaAAAAide_Q3HYCLRhegJMdBm_AkQeRaQoBpwOT_cgNhD4nPDRWxnKKpfHl5_jYYA1psdg-zUxKTlzXfYgWrfnKiS2jAFIMF064LUJU756ckGFeyqM3DOY9ofwc3HvX1vAEhdGEhD_3YFg5X3cRux_7CMl2eWRGhTINrRa771Rk6G-IuD0TBeFlx2eFw',
     'width': 2268}],
   'place_id': 'ChIJQ3qE2LKqw4kRKRprCYJWHIs',
   'plus_code': {'compound_code': 'RQ8J+6F Montclair, New Jersey, USA',
    'global_code': '87G7RQ8J+6F'},
   'rating': 4.3,
   'reference': 'ChIJQ3qE2LKqw4kRKRprCYJWHIs',
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 68},
  {'formatted_address': '804 Newark Ave, Jersey City, NJ 07306, USA',
   'geometry': {'location': {'lat': 40.7358073, 'lng': -74.0650687},
    'viewport': {'northeast': {'lat': 40.73706307989271,
      'lng': -74.06373947010728},
     'southwest': {'lat': 40.73436342010727, 'lng': -74.06643912989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': '0657a6bc5222fe1a7271d0dcc88f42527597c71d',
   'name': 'Sapthagiri',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 3024,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116871222488357962703/photos">Andrew Bentz</a>'],
     'photo_reference': 'CmRaAAAAGibuOeuPsKsoZlL1O8xwNOyjypYtv0o9gCc2syrZGPW_VRLdxlX91-i8GofL3HVmL9O4WAHOnpkt4MOg2gwRH8i_tP_M0BUBM67BEeX3MlYsfpwQm_eWrj3DIu394AYREhAfu1UM-v1bWqNMmpCiWvXsGhS0Mb59x7pjsZUqmwB6AiZXHQ3cQw',
     'width': 4032}],
   'place_id': 'ChIJo72pITBXwokRYrpIiitLM5I',
   'plus_code': {'compound_code': 'PWPM+8X Jersey City, New Jersey, USA',
    'global_code': '87G7PWPM+8X'},
   'price_level': 1,
   'rating': 3.9,
   'reference': 'ChIJo72pITBXwokRYrpIiitLM5I',
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1167},
  {'formatted_address': '1279 Main Ave, Clifton, NJ 07011, USA',
   'geometry': {'location': {'lat': 40.878809, 'lng': -74.1434194},
    'viewport': {'northeast': {'lat': 40.88020127989272,
      'lng': -74.14199597010729},
     'southwest': {'lat': 40.87750162010727, 'lng': -74.14469562989274}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': '3bbc16db61b9a2a03c9e5d2fe511957c1375865e',
   'name': 'Nefista Vegan Kofteh / Çiğ Köfte',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2988,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104841886360585530121/photos">Mahmut Fatih PAÇA</a>'],
     'photo_reference': 'CmRaAAAAz5GdrR9PQPJEePraFiFe7cqmKUnGUR4azKDCy-Zt4QhjRTLJbFOXptA4a9kCeh7riGiLHAw8l36AZq8We_3dFhIKxHT7A39zLARADTz3LiMaxYR_nfPvsAlgbmr52U31EhCPELcnxZv0A0haR_h0rOpiGhQCj9sva7VHYx_TXDxSxdzPaozBUg',
     'width': 3984}],
   'place_id': 'ChIJ6wp8Hr_-wokRl3gXNhMFWBI',
   'plus_code': {'compound_code': 'VVH4+GJ Clifton, New Jersey, USA',
    'global_code': '87G7VVH4+GJ'},
   'price_level': 1,
   'rating': 4.8,
   'reference': 'ChIJ6wp8Hr_-wokRl3gXNhMFWBI',
   'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
   'user_ratings_total': 153},
  {'formatted_address': '400 Main St, Bradley Beach, NJ 07720, USA',
   'geometry': {'location': {'lat': 40.2012302, 'lng': -74.0184259},
    'viewport': {'northeast': {'lat': 40.20260127989272,
      'lng': -74.01717657010728},
     'southwest': {'lat': 40.19990162010728, 'lng': -74.01987622989273}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png',
   'id': '59623671fe2f7e4dfe3db41cbcff5b374d6d821c',
   'name': 'Luna Verde Vegan Mexican Restaurant',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 3364,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107333647033973543868/photos">Daniel DeSclafani</a>'],

In [95]:
name_veg=[]
lat3=[]
lon3=[]
for e in res3["results"]:
    name_veg.append(e.get("name"))
    lat3.append(e.get("geometry").get("location").get("lat"))
    lon3.append(e.get("geometry").get("location").get("lng"))

d3={
    "Name": name_veg,
    "Latitude": lat3,
    "Longitude":lon3
}
df_VeganRestImport=pd.DataFrame(d3)
df_VeganRestImport.head()

                                        Name   Latitude  Longitude
0                               Killer Vegan  40.696338 -74.270283
1                                  Veganized  40.495519 -74.445155
2                                Mundo Vegan  40.813753 -74.218367
3  Blueberry Cafe Juice Bar And Vegan Grille  40.749374 -74.196672
4                      Wildflower Vegan Cafe  39.401026 -75.038465

In [96]:
df_VeganRestImport.to_json("VeganRestaurants.json",default_handler=str,orient="records")

In [97]:
df_final.head()

,Categoria,Latitude,Localizacion,Longitude,Name
4,Aeropuerto,40.850101,"{'type': 'Point', 'coordinates': [-74.06079864...",-74.060799,Teterboro Airport
5,Aeropuerto,40.692501,"{'type': 'Point', 'coordinates': [-74.16870117...",-74.168701,Newark Liberty International Airport
6,Aeropuerto,40.639801,"{'type': 'Point', 'coordinates': [-73.77890015...",-73.778900,John F Kennedy International Airport
7,Aeropuerto,40.875198,"{'type': 'Point', 'coordinates': [-74.28140258...",-74.281403,Essex County Airport
8,Aeropuerto,40.617401,"{'type': 'Point', 'coordinates': [-74.24459838...",-74.244598,Linden Airport

In [118]:
df_1M1=df_final[df_final["Categoria"]=="1M"][["Latitude","Longitude","Name"]]

In [122]:
emp1M= df_1M1[df_1M1["Latitude"]==40.829813]
emp1M

      Latitude  Longitude             Name
274  40.829813 -74.320006  Expand Networks

In [135]:
df_aerop1=df_final[df_final["Categoria"]=="Aeropuerto"][["Latitude","Longitude","Name"]]

In [141]:
empaer=df_aerop1[(df_aerop1["Latitude"]>=40.692501) & (df_aerop1["Latitude"]<40.7)]

In [142]:
empaer

    Latitude  Longitude                                  Name
5  40.692501 -74.168701  Newark Liberty International Airport

In [143]:
df_design1=df_final[df_final["Categoria"]=="Empresa diseño"][["Latitude","Longitude","Name"]]

In [145]:
empdes=df_design1[(df_design1["Latitude"]>=40.7) & (df_design1["Latitude"]<40.8)]

In [146]:
empdes

    Latitude  Longitude        Name
1  40.727719 -73.950821  Refinery29

In [147]:
df_st["Name"]="Starbucks"

In [148]:
df_st.head()

    Latitude  Longitude       Name
0  40.055727 -74.164850  Starbucks
1  39.936742 -75.045005  Starbucks
2  40.264683 -74.042442  Starbucks
3  40.219624 -74.632385  Starbucks
4  40.456454 -74.400224  Starbucks

In [155]:
empSt= df_st[(df_st["Latitude"]>=40.856712) & (df_st["Latitude"]<40.88)]

In [156]:
empSt

    Latitude  Longitude       Name
7  40.856712  -74.07034  Starbucks

In [160]:
escuela=df_schoolsImport[(df_schoolsImport["Latitude"]>=40.85313)&(df_schoolsImport["Latitude"]<40.86)]

In [161]:
escuela

                Name   Latitude  Longitude
2  Collegiate School  40.853135 -74.133088

In [177]:
restVeg=df_VeganRestImport[(df_VeganRestImport["Latitude"]>=40.878)&(df_VeganRestImport["Latitude"]<40.88)]

In [178]:
restVeg

                                Name   Latitude  Longitude
14  Nefista Vegan Kofteh / Çiğ Köfte  40.878809 -74.143419

In [179]:
df_FINAL=pd.concat([empSt,restVeg,escuela,empdes,empaer,emp1M])

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [181]:
df_FINAL

      Latitude  Longitude                                  Name
7    40.856712 -74.070340                             Starbucks
14   40.878809 -74.143419      Nefista Vegan Kofteh / Çiğ Köfte
2    40.853135 -74.133088                     Collegiate School
1    40.727719 -73.950821                            Refinery29
5    40.692501 -74.168701  Newark Liberty International Airport
274  40.829813 -74.320006                       Expand Networks

In [191]:
lstlat=list(df_FINAL["Latitude"].values)

        
latMi=df_FINAL["Latitude"].mean()
lonMi=df_FINAL["Longitude"].mean()
nombre="MI EMPRESA"
print(latMi,lonMi)
d_miE={
    "Latitude": [latMi],
    "Longitude":[lonMi],
    "Name": [nombre]
    
}
df_miEmp=pd.DataFrame(d_miE)
df_Fin=pd.concat([df_FINAL,df_miEmp],axis=0)
df_Fin

40.80644824468333 -74.13106252864999

      Latitude  Longitude                                  Name
7    40.856712 -74.070340                             Starbucks
14   40.878809 -74.143419      Nefista Vegan Kofteh / Çiğ Köfte
2    40.853135 -74.133088                     Collegiate School
1    40.727719 -73.950821                            Refinery29
5    40.692501 -74.168701  Newark Liberty International Airport
274  40.829813 -74.320006                       Expand Networks
0    40.806448 -74.131063                            MI EMPRESA

In [192]:
df_Fin.to_json("MiEmpresa.json", default_handler=str,orient="records")

In [206]:
lstlat=list(df_FINAL["Latitude"].values)
lstlon=list(df_FINAL["Longitude"].values)
lstname=list(df_FINAL["Name"].values)
latsum=0.0
lonsum=0.0
for i in range(len(lstname)):
    if "Starbucks" in lstname[i]:
        latsum+=(lstlat[i]*0.7)
        lonsum+=(lstlon[i]*0.7)
        
    if "Vegan" in lstname[i]:
        latsum+=lstlat[i]*0.2
        lonsum+=lstlon[i]*0.2
        
    if "School" in lstname[i]:
        latsum+=lstlat[i]*0.1
        lonsum+=lstlon[i]*0.1

        
print(latsum,lonsum)

40.860773869999996 -74.09123044999998

In [207]:

nombre="MI EMPRESA"

d_miE2={
    "Latitude": [latsum],
    "Longitude":[lonsum],
    "Name": [nombre]
    
}
df_miEmp2=pd.DataFrame(d_miE2)
df_Fin2=pd.concat([df_FINAL,df_miEmp2],axis=0)
df_Fin2

      Latitude  Longitude                                  Name
7    40.856712 -74.070340                             Starbucks
14   40.878809 -74.143419      Nefista Vegan Kofteh / Çiğ Köfte
2    40.853135 -74.133088                     Collegiate School
1    40.727719 -73.950821                            Refinery29
5    40.692501 -74.168701  Newark Liberty International Airport
274  40.829813 -74.320006                       Expand Networks
0    40.860774 -74.091230                            MI EMPRESA

In [208]:
df_Fin2.to_json("MiEmpresa2.json", default_handler=str,orient="records")